absl-py==0.1.11
affinegap==1.10
alembic==0.9.8
arff==0.9
argcomplete==1.10.0
asn1crypto==0.24.0
astor==0.6.2
astroid==2.1.0
attrs==18.1.0
audioread==2.1.5
aupyom==0.1.0
Automat==0.6.0
awsebcli==3.15.3
banal==0.3.3
beautifulsoup4==4.8.0
bleach==1.5.0
blis==0.4.1
boto==2.49.0
boto3==1.9.73
botocore==1.12.73
bz2file==0.98
cachetools==3.1.0
catalogue==0.0.8
categorical-distance==1.9
cement==2.8.2
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
Click==7.0
cloudpickle==0.6.1
cmake==3.13.3
colorama==0.3.9
constantly==15.1.0
cryptography==2.2.2
cssselect==1.0.3
cycler==0.10.0
cymem==2.0.3
dask==1.0.0
dataset==1.0.6
datetime-distance==0.1.3
decorator==4.2.1
dedupe-hcluster==0.3.6
dedupe-variable-datetime==0.1.5
docutils==0.14
docx==0.2.4
docx2txt==0.8
DoubleMetaphone==0.1
EbookLib==0.17.1
en-core-web-md==2.0.0
en-core-web-sm==2.2.5
entrypoints==0.2.3
extract-msg==0.23.1
fastcluster==1.1.24
Flask==1.0.2
future==0.16.0
gast==0.2.0
gensim==3.6.0
gnuplotlib==0.28
google-api-core==1.11.0
google-api-python-client==1.7.8
google-auth==1.6.2
google-auth-httplib2==0.0.3
google-cloud==0.34.0
google-cloud-core==1.0.0
google-cloud-pubsub==0.41.0
google-cloud-storage==1.15.1
google-resumable-media==0.3.2
googleads==3.8.0
googleapis-common-protos==1.5.10
grpc-google-iam-v1==0.11.4
grpcio==1.10.0
gunicorn==20.0.4
h5py==2.9.0
html5lib==0.9999999
httplib2==0.12.0
hyperlink==18.0.0
idna==2.6
imageio==2.5.0
imageio-ffmpeg==0.2.0
IMAPClient==2.1.0
importlib-metadata==1.3.0
imutils==0.4.6
incremental==17.5.0
ipykernel==4.8.2
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.2
isort==4.3.4
itsdangerous==1.1.0
jedi==0.11.1
Jinja2==2.10
jmespath==0.9.3
joblib==0.11
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.3.1
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
librosa==0.6.0
llvmlite==0.23.0
lxml==4.2.1
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.0
mccabe==0.6.1
mistune==0.8.3
more-itertools==8.0.2
moviepy==1.0.0
murmurhash==1.0.2
mysql-connector==2.1.6
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
nltk==3.2.5
normality==0.5.11
notebook==5.4.0
numba==0.38.0
numpy==1.17.4
numpysane==0.17
oauth2client==4.1.3
oauthlib==3.0.1
objbrowser==1.2.1
olefile==0.46
opencv-contrib-python==3.4.5.20
opencv-python==3.4.0.12
pandas==0.23.2
pandas-profiling==1.4.1
pandocfilters==1.4.2
parse==1.11.1
parsel==1.4.0
parselmouth==1.1.1
parso==0.1.1
pathspec==0.5.9
patsy==0.5.1
pdfminer.six==20181108
pickleshare==0.7.4
Pillow==5.0.0
plac==1.1.3
plotly==2.7.0
praat-parselmouth==0.3.2
preshed==3.0.2
proglog==0.1.9
prompt-toolkit==1.0.15
protobuf==3.5.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
PyAudio==0.2.11
pycparser==2.18
pycryptodome==3.9.7
PyDispatcher==2.0.5
pygame==1.9.4
Pygments==2.2.0
PyLBFGS==0.2.0.12
pylint==2.2.2
pymongo==3.6.1
pyOpenSSL==17.5.0
pyparsing==2.2.0
PyPDF2==1.26.0
pypiwin32==219
PySocks==1.6.8
pytesseract==0.2.5
python-dateutil==2.7.0
python-docx==0.8.10
python-editor==1.0.3
python-gcm==0.4
python-pptx==0.6.18
python-twitter==3.3
pytz==2015.7
PyWavelets==1.0.1
pywinpty==0.5.1
PyYAML==3.12
pyzmq==17.0.0
qtconsole==4.3.1
queuelib==1.5.0
requests==2.20.1
requests-oauthlib==1.2.0
resampy==0.2.0
rlr==2.4.5
rsa==4.0
s3transfer==0.1.13
scikit-image==0.14.1
scikit-learn==0.20.0
scipy==1.0.0
seaborn==0.8.1
semantic-version==2.5.0
Send2Trash==1.5.0
service-identity==17.0.0
simplegeneric==0.8.1
six==1.12.0
sklearn==0.0
smart-open==1.7.1
sortedcontainers==2.2.2
sounddevice==0.3.11
soupsieve==1.9
spacy==2.2.3
SpeechRecognition==3.8.1
SQLAlchemy==1.2.5
squarify==0.4.2
srsly==0.2.0
statsmodels==0.9.0
stopit==1.1.1
suds-jurko==0.6
tensorboard==1.6.0
tensorflow==1.6.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
textblob==0.15.2
textract==1.6.3
thinc==7.3.1
toolz==0.9.0
tornado==5.0
tqdm==4.29.1
traitlets==4.3.2
tweepy==3.7.0
twitter==1.18.0
typed-ast==1.2.0
tzlocal==1.5.1
Unidecode==1.0.22
unpyclib==0.8.1
uritemplate==3.0.0
urllib3==1.24.3
w3lib==1.19.0
wasabi==0.4.2
wcwidth==0.1.7
Werkzeug==0.14.1
widgetsnbextension==3.1.4
wikipedia==1.4.0
win-unicode-console==0.5
wrapt==1.11.0
xgboost==0.80
xlrd==1.2.0
XlsxWriter==1.2.9
zipp==0.6.0
zope.interface==4.5.0
